<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My App</title>
    <link href="/css/style.css" rel="stylesheet" >
</head>
<body>

<div class="container">
    <header>LIVING COST</header>
    <div class="sidebar">
        Menu:
        <ul>
            <li> <a href="/daily">Daily Management</a> </li>
            <li> <a href="/monthly">Monthly Management</a> </li>
            <li> <a href="/total">Total Management</a> </li>
        </ul>
    </div>
    <div class="content">
        WELCOME TO MY APP
    </div>
    <footer>
        VEGETTO BLUE
    </footer>
</div>

</body>
</html>